policy_module(npccoin, 1.100.1)

########################################
#
# Declarations
#

type npccoin_t;
type npccoin_exec_t;
init_daemon_domain(npccoin_t, npccoin_exec_t)

permissive npccoin_t;

type npccoin_initrc_exec_t;
init_script_file(npccoin_initrc_exec_t)

type npccoin_conf_t;
files_type(npccoin_conf_t)

type npccoin_var_lib_t;
files_type(npccoin_var_lib_t)

type npccoin_var_run_t;
files_type(npccoin_var_run_t)

type npccoin_port_t;
corenet_port(npccoin_port_t)

########################################
#
# npccoin local policy
#
allow npccoin_t self:process { fork };

allow npccoin_t self:fifo_file rw_fifo_file_perms;
allow npccoin_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(npccoin_t, npccoin_conf_t, npccoin_conf_t)
manage_files_pattern(npccoin_t, npccoin_conf_t, npccoin_conf_t)

manage_dirs_pattern(npccoin_t, npccoin_var_lib_t, npccoin_var_lib_t)
manage_files_pattern(npccoin_t, npccoin_var_lib_t, npccoin_var_lib_t)
files_var_lib_filetrans(npccoin_t, npccoin_var_lib_t, { dir file })

manage_dirs_pattern(npccoin_t, npccoin_var_run_t, npccoin_var_run_t)
manage_files_pattern(npccoin_t, npccoin_var_run_t, npccoin_var_run_t)

sysnet_dns_name_resolve(npccoin_t)
corenet_all_recvfrom_unlabeled(npccoin_t)

allow npccoin_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(npccoin_t)
corenet_tcp_sendrecv_generic_node(npccoin_t)
corenet_tcp_sendrecv_all_ports(npccoin_t)
corenet_tcp_bind_generic_node(npccoin_t)

gen_require(`
    type npccoin_port_t;
')
allow npccoin_t npccoin_port_t:tcp_socket name_bind;

gen_require(`
    type npccoin_port_t;
')
allow npccoin_t npccoin_port_t:tcp_socket name_connect;

domain_use_interactive_fds(npccoin_t)

files_read_etc_files(npccoin_t)

miscfiles_read_localization(npccoin_t)

sysnet_dns_name_resolve(npccoin_t)

allow npccoin_t npccoin_exec_t:file execute_no_trans;
allow npccoin_t self:process setsched;
corecmd_exec_ls(npccoin_t)
corenet_tcp_connect_http_port(npccoin_t)
dev_read_urand(npccoin_t)
fs_getattr_xattr_fs(npccoin_t)
kernel_read_system_state(npccoin_t)
